body {
  font-family: "Inter", serif;
  overflow-x: hidden;
}

.article p{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2;
}

@media (min-width: 640px) {
  .article p {
    font-size: 18px; /* Font size for screens wider than 700px */
  word-spacing: 3px;
  }
}


.fromWtoB {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  color: black;
}

.dark .fromWtoB {
  background-color: black;
  color: #fff;
}

body {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  color: black;
}

.dark body {
  background-color: #000000;
  color: #fff;
}

textarea:focus {
  outline: none;
  height: auto;
  resize: none;
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.dots {
  opacity: 1;
  background-image: radial-gradient(#eaeaea 0.8px, #ffffff 0.8px);
  background-size: 16px 16px;
}

.article h2{
  font-family: "Inter";
  font-weight: bold;
  font-size: 24px;
}

p{
  font-size: 1rem;
}


